[submodule "public/data/0.pdfs/a-complete-collection-of-bronzes-unearthed-in-china"]
	path = public/data/0.pdfs/a-complete-collection-of-bronzes-unearthed-in-china
	url = https://mirrors.sustech.edu.cn/git/12011404/a-complete-collection-of-bronzes-unearthed-in-china.git
